body {
    background-image: url("../images/background1.jpg");
    background-size: 100%;
}

img.img-rounded {
    width: 50%;
    height: auto;
    margin-left: 20%;
}

div.infopanel {
    background-color: #133c61!important
}
